# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Logs and databases
*.log
db.sqlite3

# VSCode & PyCharm
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Test coverage reports
.coverage
htmlcov/

# Misc
.DS_Store
Thumbs.db
